@media (min-width: 1920px) {
    .cntry-logo ul li img {
        width: 5vw;
        margin-left: 53%;
    }

    .nav-link {
        font-size: 19px;
    }

    .linhadiagonal {
        width: 66vw;
        margin-top: 5%;
        margin-bottom: 6%;
    }

    .Flag_1 {
        margin-top: -12%;
        margin-left: 8%;
    }

    .Flag_2 {
        margin-top: -31.2%;
    }

    .Flag_3 {
        margin-top: -53.3%;
    }

    .Flag_4 {
        margin-top: -71.2%;
    }

    .Flag_5 {
        margin-top: -93%;
    }

    .Flag_6 {
        margin-top: -109.5%;
    }
}

@media (max-width: 1280px) {
    .nav-link {
        font-size: 12px;
    }

    .log-img-bnr {
        width: 10vw;
    }
}

@media (max-width: 1024px) {
    .linhadiagonal {
        width: 66vw;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .bandeira-2012 img, .bandeira-2015 img, .bandeira-2002 img, .bandeira-2018 img, .bandeira-2019 img, .bandeira-2020 img {
        width: 4vw;
    }

    .Flag_1 {
        margin-left: 13%;
        margin-top: -15%;
    }

    .Flag_2 {
        margin-top: -38.2%;
    }

    .Flag_3 {
        margin-top: -67.6%;
    }

    .Flag_4 {
        margin-top: -92%;
    }

    .Flag_5 {
        margin-top: -122%;
    }

    .Flag_6 {
        margin-top: -143.5%;
        margin-left: 52%;
    }

    .Year_1 {
        margin-left: 12%;
    }

    .Year_6 {
        margin-left: 50%;
    }

    .nav-link {
        font-size: 9px;
    }

    .cntry-logo ul li img {
        width: 6.5vw;
        margin-left: -19%;
        margin-bottom: -15%;
    }
}

@media (max-width: 912px) {
    .cntry-logo ul li img {
        width: 19vw;
        margin-left: 35%;
        margin-bottom: 0%;
    }

    .logo_time {
        width: 10vw;
    }

    .linhadiagonal {
        width: 99vw;
        margin-top: 12%;
        margin-bottom: 8%;
    }

    .bandeira-2012 img, .bandeira-2015 img, .bandeira-2002 img, .bandeira-2018 img, .bandeira-2019 img, .bandeira-2020 img {
        width: 5vw;
    }

    .Flag_2 {
        margin-top: -36%;
    }

    .Flag_3 {
        margin-top: -60%;
    }

    .Flag_4 {
        margin-top: -80%;
    }

    .Flag_5 {
        margin-top: -105%;
    }

    .Flag_6 {
        margin-top: -123%;
    }

    .nav-link {
        font-size: 26px;
        text-align: center;
    }

    .log-img-bnr {
        width: 22vw;
    }
}

@media (max-width: 820px) {
    .linhadiagonal {
        width: 97vw;
        margin-top: 14%;
        margin-bottom: 6%;
    }
}

@media (max-width: 768px) {
    .linhadiagonal {
        width: 97vw;
    }

    .Flag_2 {
        margin-top: -33%;
    }

    .Flag_3 {
        margin-top: -56.4%;
    }

    .Flag_4 {
        margin-top: -75.8%;
    }

    .Flag_5 {
        margin-top: -101%;
    }

    .Flag_6 {
        margin-top: -119.2%;
    }

    .cntry-logo ul li img {
        width: 19vw;
        margin-left: 26%;
        margin-bottom: 0%;
    }
}

@media (max-width: 540px) {
    .logo_time {
        width: 18vw;
    }

    .cd-horizontal-timeline .events-content li {
        padding: 0 1% !important;
    }

    .bandeira-2012 img, .bandeira-2015 img, .bandeira-2002 img, .bandeira-2018 img, .bandeira-2019 img, .bandeira-2020 img {
        width: 10vw;
    }

    .cd-timeline-navigation a {
        border: 2px solid #003068;
        color: #003068;
    }

    .timline-heading {
        font-size: 2.5rem;
    }

    .cntry-logo ul li img {
        width: 19vw;
        margin-left: 52%;
    }
}

@media (max-width: 425px) {
    .timline-heading {
        font-size: 2.4rem;
    }

    .cntry-logo ul li img {
        width: 22vw;
        margin-left: 15%;
        margin-bottom: 0%;
    }
}